[Unit]
Description=Update Kolibri channels for all users in the system

[Service]
Type=oneshot
EnvironmentFile=/usr/local/etc/kolibri-update-channels/environment-file
ExecStart=/usr/local/bin/kolibri-update-channels
